In [1]:
# Initial study of the data

import pandas
data=pandas.read_csv("children anemia.csv")
print(data.shape)
#print(data.head())
print('=============')
print(data.columns)
for col in data.columns:
    print('* Column "%s": type "%s", missing %d' % (col,data[col].dtype,data[col].isna().sum()))
    vc=data[col].value_counts()
    if data[col].dtype==object:
        print(vc)
    else:
        print(len(vc),'values');

# Make the column names manageable:
data.columns=['mothers_age_group', 'mothers_residence',
       'mothers_education', 'mothers_wealth_index',
       'mothers_births_5y', 'mothers_age_at_1st_birth',
       'mothers_hemoglobin',
       'mothers_anemia',
       'mosquito_net',
       'mother_smokes', 'mothers_marital',
       'mothers_partner', 'child_breasted',
       'fever_last_2_weeks',
       'childs_hemoglobin',
       'childs_anemia', 'iron_pills']

# This is a potentially dodgy part; we are not quite sure what this really means:
# data['child_breasted'].replace('Immediately',0,inplace=True)
# data['child_breasted'].replace('Hours: 1',60,inplace=True)
# data['child_breasted'].replace('Days: 1',60*24,inplace=True)
# print(data['child_breasted'].value_counts())

# To hell with it:
data=data.drop(columns='child_breasted')

#data.head()

(33924, 17)
=============
Index(['Age in 5-year groups', 'Type of place of residence',
       'Highest educational level', 'Wealth index combined',
       'Births in last five years', 'Age of respondent at 1st birth',
       'Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)',
       'Anemia level',
       'Have mosquito bed net for sleeping (from household questionnaire)',
       'Smokes cigarettes', 'Current marital status',
       'Currently residing with husband/partner', 'When child put to breast',
       'Had fever in last two weeks',
       'Hemoglobin level adjusted for altitude (g/dl - 1 decimal)',
       'Anemia level.1', 'Taking iron pills, sprinkles or syrup'],
      dtype='object')
* Column "Age in 5-year groups": type "object", missing 0
Age in 5-year groups
25-29    9470
30-34    7647
20-24    6626
35-39    5447
40-44    2407
15-19    1434
45-49     893
Name: count, dtype: int64
* Column "Type of place of residence": type "object", missing 0
Type of place of residence
Rural    22225
Urban    11699
Name: count, dtype: int64
* Column "Highest educational level": type "object", missing 0
Highest educational level
No education    15391
Secondary       10623
Primary          5274
Higher           2636
Name: count, dtype: int64
* Column "Wealth index combined": type "object", missing 0
Wealth index combined
Poorest    8066
Poorer     7743
Middle     7171
Richer     6166
Richest    4778
Name: count, dtype: int64
* Column "Births in last five years": type "int64", missing 0
6 values
* Column "Age of respondent at 1st birth": type "int64", missing 0
34 values
* Column "Hemoglobin level adjusted for altitude and smoking (g/dl - 1 decimal)": type "float64", missing 20788
123 values
* Column "Anemia level": type "object", missing 20788
Anemia level
Not anemic    5337
Moderate      3974
Mild          3594
Severe         231
Name: count, dtype: int64
* Column "Have mosquito bed net for sleeping (from household questionnaire)": type "object", missing 0
Have mosquito bed net for sleeping (from household questionnaire)
Yes    24016
No      9908
Name: count, dtype: int64
* Column "Smokes cigarettes": type "object", missing 0
Smokes cigarettes
No     33852
Yes       72
Name: count, dtype: int64
* Column "Current marital status": type "object", missing 0
Current marital status
Married                                31222
Living with partner                     1004
Never in union                           689
Widowed                                  376
Divorced                                 332
No longer living together/separated      301
Name: count, dtype: int64
* Column "Currently residing with husband/partner": type "object", missing 1698
Currently residing with husband/partner
Living with her      29619
Staying elsewhere     2607
Name: count, dtype: int64
* Column "When child put to breast": type "object", missing 12756
When child put to breast
Immediately    9351
Hours: 1       2980
102.0          2096
Days: 1        1792
103.0          1232
202.0           723
104.0           640
105.0           496
106.0           384
203.0           353
108.0           216
107.0           181
110.0           123
112.0           115
109.0           101
204.0            72
114.0            40
111.0            39
207.0            35
113.0            34
205.0            25
115.0            19
123.0            17
116.0            16
214.0            11
120.0            10
118.0            10
122.0             9
119.0             7
117.0             7
121.0             5
211.0             4
223.0             4
206.0             4
210.0             4
208.0             4
221.0             3
220.0             3
212.0             1
216.0             1
209.0             1
Name: count, dtype: int64
* Column "Had fever in last two weeks": type "object", missing 3211
Had fever in last two weeks
No            23065
Yes            7536
Don't know      112
Name: count, dtype: int64
* Column "Hemoglobin level adjusted for altitude (g/dl - 1 decimal)": type "float64", missing 23742
119 values
* Column "Anemia level.1": type "object", missing 23742
Anemia level.1
Moderate      3927
Not anemic    3179
Mild          2754
Severe         322
Name: count, dtype: int64
* Column "Taking iron pills, sprinkles or syrup": type "object", missing 3211
Taking iron pills, sprinkles or syrup
No            25358
Yes            5190
Don't know      165
Name: count, dtype: int64

In [3]:
# Last look and save:

for col in data.columns:
    print('* Column "%s": type "%s", missing %d' % (col,data[col].dtype,data[col].isna().sum()))
    vc=data[col].value_counts()
    if data[col].dtype==object:
        print(vc)
    else:
        print(len(vc),'values');

data.to_csv('anemia_neater.csv',index=False)

* Column "mothers_age_group": type "object", missing 0
mothers_age_group
25-29    9470
30-34    7647
20-24    6626
35-39    5447
40-44    2407
15-19    1434
45-49     893
Name: count, dtype: int64
* Column "mothers_residence": type "object", missing 0
mothers_residence
Rural    22225
Urban    11699
Name: count, dtype: int64
* Column "mothers_education": type "object", missing 0
mothers_education
No education    15391
Secondary       10623
Primary          5274
Higher           2636
Name: count, dtype: int64
* Column "mothers_wealth_index": type "object", missing 0
mothers_wealth_index
Poorest    8066
Poorer     7743
Middle     7171
Richer     6166
Richest    4778
Name: count, dtype: int64
* Column "mothers_births_5y": type "int64", missing 0
6 values
* Column "mothers_age_at_1st_birth": type "int64", missing 0
34 values
* Column "mothers_hemoglobin": type "float64", missing 20788
123 values
* Column "mothers_anemia": type "object", missing 20788
mothers_anemia
Not anemic    5337
Moderate      3974
Mild          3594
Severe         231
Name: count, dtype: int64
* Column "mosquito_net": type "object", missing 0
mosquito_net
Yes    24016
No      9908
Name: count, dtype: int64
* Column "mother_smokes": type "object", missing 0
mother_smokes
No     33852
Yes       72
Name: count, dtype: int64
* Column "mothers_marital": type "object", missing 0
mothers_marital
Married                                31222
Living with partner                     1004
Never in union                           689
Widowed                                  376
Divorced                                 332
No longer living together/separated      301
Name: count, dtype: int64
* Column "mothers_partner": type "object", missing 1698
mothers_partner
Living with her      29619
Staying elsewhere     2607
Name: count, dtype: int64
* Column "fever_last_2_weeks": type "object", missing 3211
fever_last_2_weeks
No            23065
Yes            7536
Don't know      112
Name: count, dtype: int64
* Column "childs_hemoglobin": type "float64", missing 23742
119 values
* Column "childs_anemia": type "object", missing 23742
childs_anemia
Moderate      3927
Not anemic    3179
Mild          2754
Severe         322
Name: count, dtype: int64
* Column "iron_pills": type "object", missing 3211
iron_pills
No            25358
Yes            5190
Don't know      165
Name: count, dtype: int64
  mothers_age_group mothers_residence mothers_education mothers_wealth_index  \
0             40-44             Urban            Higher              Richest
1             35-39             Urban            Higher              Richest
2             25-29             Urban            Higher              Richest
3             25-29             Urban         Secondary              Richest
4             20-24             Urban         Secondary              Richest

   mothers_births_5y  mothers_age_at_1st_birth  mothers_hemoglobin  \
0                  1                        22                 NaN
1                  1                        28                 NaN
2                  1                        26                 NaN
3                  1                        25                95.0
4                  1                        21                 NaN

  mothers_anemia mosquito_net mother_smokes  \
0            NaN          Yes            No
1            NaN          Yes            No
2            NaN           No            No
3       Moderate          Yes            No
4            NaN          Yes            No

                       mothers_marital    mothers_partner fever_last_2_weeks  \
0                  Living with partner  Staying elsewhere                 No
1                              Married    Living with her                 No
2                              Married    Living with her                 No
3                              Married    Living with her                 No
4  No longer living together/separated                NaN                 No

   childs_hemoglobin childs_anemia iron_pills
0                NaN           NaN        Yes
1                NaN           NaN         No
2                NaN           NaN         No
3              114.0    Not anemic         No
4                NaN           NaN         No
(33924, 16)
(9546, 16)